body {
    --image-background: none;
    background-image: var(--image-background);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
.auth-container {
    display: flex;
    min-height: 100vh;
}

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auth-box img {
    max-height: 60px;
    max-width: 100%;
}

@media (min-width:576px) {
    .auth-container {
        align-items: unset;
        justify-content: flex-end;
    }

    .auth-box {
        flex-basis: 50%;
    }
}

@media (min-width:768px) {
    .auth-box {
        flex-basis: 45%;
    }
}

@media (min-width:992px) {
    .auth-box {
        flex-basis: 40%;
    }
}

@media (min-width:1200px) {
    .auth-box {
        flex-basis: 35%;
    }
}