.landing-banner {
    min-height: 54vh;
    background-color: var(--bs-dark);
    background-image: var(--landing-bg-banner);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: min-height 0.15s ease;
}

.landing-banner .text-1 {
    font-size: 24px;
}

.landing-banner .text-2 {
    font-size: 18px;
}

.landing-banner .text-1,
.landing-banner .text-2 {
    transition: font-size 0.15s ease;
}

.box-info {
    position: relative;
    padding: 2rem;
}

.box-info .box-title {
    font-size: 30px;
    line-height: 1.25;
    padding: 10px 0;
    margin-bottom: 1rem;
}

.box-info .icon {
    position: absolute;
    top: -25px;
    font-size: 50px;
    color: var(--bs-secondary);
    z-index: 1;
}

.tanpa {
    display: block;
}

.tanpa>* {
    display: inline-block;
}

.tanpa>.tanpa-separator {
    padding: 0 4px;
}

.tanpa>.tanpa-separator::before {
    content: "-";
}

@media (min-width: 568px) {
    .landing-banner {
        min-height: 65vh;
    }

    .landing-banner .text-1 {
        font-size: 36px;
    }

    .landing-banner .text-2 {
        font-size: 24px;
    }
}

@media (min-width: 756px) {
    .landing-banner {
        min-height: 80vh;
    }

    .landing-banner .text-1 {
        font-size: 48px;
    }

    .landing-banner .text-2 {
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    .landing-banner {
        min-height: 100vh;
    }

    .landing-banner .text-1 {
        font-size: 60px;
    }

    .landing-banner .text-2 {
        font-size: 32px;
    }
}