body {
    --sidebar-width: 300px;
    --sidebar-hidden: calc(var(--sidebar-width) * -1 - 1px);
    --sidebar-left: var(--sidebar-hidden);
    --sidebar-mini-width: 60px;
    --sidebar-mini-hidden: calc(var(--sidebar-mini-width) * -10);
    --sidebar-mini-left: var(--sidebar-mini-hidden);
    --sidebar-mini-sub-bg: var(--bs-gray-600);
    --sidebar-mini-sub-border: var(--bs-gray-700);
    --sidebar-icon-width: 40px;
    --sidebar-backdrop-display: none;
    --layout-left: 0;
    --sidebar-transition-speed: 0.2s;
    --sidebar-transition-function: ease;
}
.navbar-toggler {
    --bs-border-width: 0;
    --bs-navbar-toggler-padding-y: 0.5rem;
    --bs-navbar-toggler-padding-x: 0;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-focus-width: 0;
    box-shadow: none !important;
}
.layout {
    display: block;
    position: relative;
    margin-left: var(--layout-left);
}
.sidebar,
.sidebar-mini,
.sidebar-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar-backdrop {
    display: var(--sidebar-backdrop-display);
    background-color: rgba(var(--bs-dark-rgb), 0.1);
    left: 0;
    right: 0;
    z-index: 1021;
}
.sidebar {
    width: var(--sidebar-width);
    max-width: 75%;
    left: var(--sidebar-left);
    padding: var(--bs-gutter-y, 0) var(--bs-gutter-x, 0);
    z-index: 1022;
}
.sidebar-mini {
    width: var(--sidebar-mini-width);
    left: var(--sidebar-mini-left);
    padding: var(--bs-gutter-y, 0) 0;
    z-index: 1023;
}
.sidebar,
.sidebar-mini {
    display: flex;
    flex-direction: column;
    transition: left var(--sidebar-transition-speed) var(--sidebar-transition-function);
}
.sidebar-toggled {
    --sidebar-left: 0;
    --sidebar-backdrop-display: block;
}
.sidebar-toggler {
    display: inline-block !important;
}
.sidebar-brand {
    --brand-img-height: auto;
    --brand-img-max-height: 40px;
    display: block;
    flex-shrink: 0;
    padding: var(--bs-gutter-y, 0.5rem) var(--bs-gutter-x, 0.5rem);
    text-decoration: none !important;
}
.sidebar-brand img,
.sidebar-brand .sidebar-brand-image {
    height: var(--brand-img-height);
    max-height: var(--brand-img-max-height);
    width: auto;
    max-width: 100%;
}
.sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar > .sidebar-menu,
.sidebar-mini > .sidebar-menu {
    flex: 1 1 auto;
}
.sidebar > .sidebar-menu {
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar-menu .sidebar-item {
    position: relative;
}
.sidebar-menu .sidebar-item:not(:last-child) {
    margin-bottom: 1px;
}
.sidebar .sidebar-item > .sidebar-menu {
    margin-top: 1px;
}
.sidebar-mini .sidebar-item > .sidebar-menu {
    padding: 0.5rem;
    background-color: var(--sidebar-mini-sub-bg);
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
    overflow: hidden;
    opacity: 0;
    border: 1px solid var(--sidebar-mini-sub-border);
    border-radius: 0.25rem;
    z-index: 5000;
    transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}
.sidebar-mini .sidebar-item > .sidebar-menu.show {
    padding: 0.5rem !important;
    width: var(--sidebar-menu-width, auto) !important;
    opacity: 1;
}
.sidebar-link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar .sidebar-link[data-bs-toggle]:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid var(--sidebar-chevron-color, var(--bs-secondary));
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}
.sidebar .sidebar-link[data-bs-toggle]:not(.collapsed)::after {
    transform: rotate(-135deg);
}
.sidebar-link > .sidebar-icon {
    flex-shrink: 0;
    width: var(--sidebar-icon-width);
    text-align: center;
    line-height: 1.5;
}
.sidebar-item .sidebar-menu .sidebar-icon {
    font: var(--fa-font-regular);
    font-size: 0.7rem;
}
.sidebar-item .sidebar-menu .sidebar-link:hover > .sidebar-icon,
.sidebar-item .sidebar-menu .sidebar-link:focus > .sidebar-icon,
.sidebar-item .sidebar-menu .sidebar-link:active > .sidebar-icon,
.sidebar-item .sidebar-menu .sidebar-link.active > .sidebar-icon,
.sidebar-item .sidebar-menu .sidebar-link[data-bs-toggle="collapse"]:not(.collapsed) > .sidebar-icon {
    font: var(--fa-font-solid);
    font-size: 0.7rem;
}
.sidebar-item .sidebar-menu .sidebar-icon::before {
    content: "\f192";
}
.sidebar-mini > .sidebar-menu > .sidebar-item > .sidebar-link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    justify-content: center;
}
.sidebar-mini > .sidebar-menu > .sidebar-item > .sidebar-link > .sidebar-icon {
    width: auto;
    line-height: 2;
}
@media (min-width: 992px) {
    body {
        --sidebar-left: var(--sidebar-hidden);
        --sidebar-mini-left: 0;
        --layout-left: var(--sidebar-mini-width);
        --sidebar-backdrop-display: none;
    }
    .sidebar-toggled {
        --sidebar-backdrop-display: none;
    }
    .sidebar-toggler {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    body {
        --sidebar-left: 0;
        --sidebar-mini-left: var(--sidebar-mini-hidden);
        --layout-left: var(--sidebar-width);
    }
    .sidebar-toggled {
        --sidebar-left: var(--sidebar-hidden);
        --sidebar-mini-left: 0;
        --layout-left: var(--sidebar-mini-width);
    }
    .sidebar-toggler {
        display: inline-block !important;
    }
}