/* 
--link-decoration: none;
--link-decoration-color: inherit;
--link-decoration-style: inherit;
--link-hover-decoration: none;
--link-hover-decoration-color: inherit;
--link-hover-decoration-style: inherit;
--link-active-decoration: none;
--link-active-decoration-color: inherit;
--link-active-decoration-style: inherit;
--link-color: rgba(var(--bs-dark-rgb), 0.7);
--link-hover-color: rgba(var(--bs-dark-rgb), 0.85);
--link-active-color: rgba(var(--bs-dark-rgb), 1);
--link-disable-color: rgba(var(--bs-dark-rgb), 0.5);
--link-hover-bg: transparent;
--link-active-bg: transparent;
 */
.menu-bg-primary {
    --link-hover-bg: rgba(var(--bs-primary-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-primary-rgb), 0.2);
}
.menu-bg-secondary {
    --link-hover-bg: rgba(var(--bs-secondary-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-secondary-rgb), 0.2);
}
.menu-bg-success {
    --link-hover-bg: rgba(var(--bs-success-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-success-rgb), 0.2);
}
.menu-bg-info {
    --link-hover-bg: rgba(var(--bs-info-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-info-rgb), 0.2);
}
.menu-bg-warning {
    --link-hover-bg: rgba(var(--bs-warning-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-warning-rgb), 0.2);
}
.menu-bg-danger {
    --link-hover-bg: rgba(var(--bs-danger-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-danger-rgb), 0.2);
}
.menu-bg-light {
    --link-hover-bg: rgba(var(--bs-light-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-light-rgb), 0.2);
}
.menu-bg-dark {
    --link-hover-bg: rgba(var(--bs-dark-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-dark-rgb), 0.2);
}
.menu-bg-white {
    --link-hover-bg: rgba(var(--bs-white-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-white-rgb), 0.2);
}
.menu-bg-black {
    --link-hover-bg: rgba(var(--bs-black-rgb), 0.1);
    --link-active-bg: rgba(var(--bs-black-rgb), 0.2);
}
.menu-text-dark {
    --link-color: rgba(var(--bs-dark-rgb), 0.7);
    --link-hover-color: rgba(var(--bs-dark-rgb), 0.85);
    --link-active-color: rgba(var(--bs-dark-rgb), 1);
}
.menu-text-light {
    --link-color: rgba(var(--bs-light-rgb), 0.7);
    --link-hover-color: rgba(var(--bs-light-rgb), 0.85);
    --link-active-color: rgba(var(--bs-light-rgb), 1);
}
.menu-link {
    text-decoration: var(--link-decoration, none);
    text-decoration-color: var(--link-decoration-color, transparent);
    text-decoration-style: var(--link-decoration-style, none);
    color: var(--link-color, rgba(var(--bs-dark-rgb), 0.7));
    background-color: transparent;
}
a.menu-link:hover,
a.menu-link:focus {
    text-decoration: var(--link-hover-decoration, none);
    text-decoration-color: var(--link-hover-decoration-color, transparent);
    text-decoration-style: var(--link-hover-decoration-style, none);
    color: var(--link-hover-color, rgba(var(--bs-dark-rgb), 0.85));
    background-color: var(--link-hover-bg, transparent);
}
a.menu-link:active,
a.menu-link.active,
a.menu-link[data-bs-toggle="collapse"]:not(.collapsed),
a.menu-link[data-bs-toggle="dropdown"].show,
a.menu-link.open {
    text-decoration: var(--link-active-decoration, none);
    text-decoration-color: var(--link-active-decoration-color, transparent);
    text-decoration-style: var(--link-active-decoration-style, none);
    color: var(--link-active-color, rgba(var(--bs-dark-rgb), 1));
    background-color: var(--link-active-bg, transparent);
}
a.menu-link:disabled,
a.menu-link.disabled {
    pointer-events: none;
    text-decoration: none;
    text-decoration-color: transparent;
    text-decoration-style: none;
    color: var(--link-disable-color, rgba(var(--bs-dark-rgb), 0.5));
    background-color: transparent;
}
