.text-gray-100 {
    --bs-text-opacity: 1;
    color: rgba(248, 249, 250, var(--bs-text-opacity)) !important;
}

.text-gray-200 {
    --bs-text-opacity: 1;
    color: rgba(233, 236, 239, var(--bs-text-opacity)) !important;
}

.text-gray-300 {
    --bs-text-opacity: 1;
    color: rgba(222, 226, 230, var(--bs-text-opacity)) !important;
}

.text-gray-400 {
    --bs-text-opacity: 1;
    color: rgba(206, 212, 218, var(--bs-text-opacity)) !important;
}

.text-gray-500 {
    --bs-text-opacity: 1;
    color: rgba(173, 181, 189, var(--bs-text-opacity)) !important;
}

.text-gray-600 {
    --bs-text-opacity: 1;
    color: rgba(108, 117, 125, var(--bs-text-opacity)) !important;
}

.text-gray-700 {
    --bs-text-opacity: 1;
    color: rgba(73, 80, 87, var(--bs-text-opacity)) !important;
}

.text-gray-800 {
    --bs-text-opacity: 1;
    color: rgba(52, 58, 64, var(--bs-text-opacity)) !important;
}

.text-gray-900 {
    --bs-text-opacity: 1;
    color: rgba(33, 37, 41, var(--bs-text-opacity)) !important;
}

.bg-gray-100 {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250, var(--bs-bg-opacity)) !important;
}

.bg-gray-200 {
    --bs-bg-opacity: 1;
    background-color: rgba(233, 236, 239, var(--bs-bg-opacity)) !important;
}

.bg-gray-300 {
    --bs-bg-opacity: 1;
    background-color: rgba(222, 226, 230, var(--bs-bg-opacity)) !important;
}

.bg-gray-400 {
    --bs-bg-opacity: 1;
    background-color: rgba(206, 212, 218, var(--bs-bg-opacity)) !important;
}

.bg-gray-500 {
    --bs-bg-opacity: 1;
    background-color: rgba(173, 181, 189, var(--bs-bg-opacity)) !important;
}

.bg-gray-600 {
    --bs-bg-opacity: 1;
    background-color: rgba(108, 117, 125, var(--bs-bg-opacity)) !important;
}

.bg-gray-700 {
    --bs-bg-opacity: 1;
    background-color: rgba(73, 80, 87, var(--bs-bg-opacity)) !important;
}

.bg-gray-800 {
    --bs-bg-opacity: 1;
    background-color: rgba(52, 58, 64, var(--bs-bg-opacity)) !important;
}

.bg-gray-900 {
    --bs-bg-opacity: 1;
    background-color: rgba(33, 37, 41, var(--bs-bg-opacity)) !important;
}

.bg-lighten {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.bg-darken {
    background-image: linear-gradient(0deg, rgba(33, 37, 41, 0.3), rgba(33, 37, 41, 0.3));
}

.bg-gradient-lighten {
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.bg-gradient-darken {
    background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.125rem rgba(13, 110, 253, 0.25);
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus,
.was-validated .form-select:valid:focus, .form-select.is-valid:focus,
.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
    box-shadow: 0 0 0 0.125rem rgba(25, 135, 84, 0.25);
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus,
.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
    box-shadow: 0 0 0 0.125rem rgba(220, 53, 69, 0.25);
}

.btn-group-xs > .btn, .btn-xs {
    padding: 0.075rem 0.25rem;
    font-size: 0.75rem;
    border-radius: 0.15rem;
}
.btn {
    background-image: var(--bs-gradient);
}
.btn-check:focus + .btn,
.btn:focus {
    box-shadow: 0 0 0 0.125rem rgba(13, 110, 253, 0.25);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(49, 132, 253, 0.5);
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus,
.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(130, 138, 145, 0.5);
}
.btn-check:focus + .btn-success,
.btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(60, 153, 110, 0.5);
}
.btn-check:focus + .btn-info,
.btn-info:focus,
.btn-check:checked + .btn-info:focus,
.btn-check:active + .btn-info:focus,
.btn-info:active:focus,
.btn-info.active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(11, 172, 204, 0.5);
}
.btn-check:focus + .btn-warning,
.btn-warning:focus,
.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(217, 164, 6, 0.5);
}
.btn-check:focus + .btn-danger,
.btn-danger:focus,
.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(225, 83, 97, 0.5);
}
.btn-check:focus + .btn-light,
.btn-light:focus,
.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(211, 212, 213, 0.5);
}
.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:checked + .btn-dark:focus,
.btn-check:active + .btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.125rem rgba(66, 70, 73, 0.5);
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(13, 110, 253, 0.25);
}
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus,
.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(108, 117, 125, 0.5);
}
.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus,
.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(25, 135, 84, 0.5);
}
.btn-check:focus + .btn-outline-info,
.btn-outline-info:focus,
.btn-check:checked + .btn-outline-info:focus,
.btn-check:active + .btn-outline-info:focus,
.btn-outline-info:active:focus,
.btn-outline-info.active:focus,
.btn-outline-info.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(13, 202, 240, 0.5);
}
.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus,
.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(255, 193, 7, 0.5);
}
.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus,
.btn-check:checked + .btn-outline-danger:focus,
.btn-check:active + .btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.btn-outline-danger.active:focus,
.btn-outline-danger.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(220, 53, 69, 0.5);
}
.btn-check:focus + .btn-outline-light,
.btn-outline-light:focus,
.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus,
.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(248, 249, 250, 0.5);
}
.btn-check:focus + .btn-outline-dark,
.btn-outline-dark:focus,
.btn-check:checked + .btn-outline-dark:focus,
.btn-check:active + .btn-outline-dark:focus,
.btn-outline-dark:active:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.125rem rgba(33, 37, 41, 0.5);
}

.btn.btn-glow {
    background: #fff linear-gradient(180deg, rgba(225, 225, 225, 0.05), rgba(225, 225, 225, 0.5));
    border-color: rgba(225, 225, 225, 0.85);
    color: var(--bs-gray-700);
}
.btn.btn-glow:hover {
    background-image: linear-gradient(180deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0.75));
}
.btn.btn-glow:focus {
    box-shadow: 0 0 0 0.125rem rgba(225, 225, 225, 0.2);
}
.btn.btn-glow:active {
    background-image: linear-gradient(180deg, rgba(225, 225, 225, 0.25), rgba(225, 225, 225, 0.5));
    box-shadow: 0 0 0.125rem 0.125rem rgba(225, 225, 225, 0.2) inset;
}

#processing-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(var(--bs-dark-rgb), 0.5);
    z-index: 9999999999;
}

#processing-overlay>img {
    width: auto;
    height: auto;
    max-height: 100px;
}

#processing-overlay.show {
    display: flex;
}

.flex-basis {
    flex-basis: var(--bs-flex-basis, auto);
}

.basis-auto {
    --bs-flex-basis: auto;
}

.basis-100px {
    --bs-flex-basis: 100px;
}

.basis-120px {
    --bs-flex-basis: 120px;
}

.basis-150px {
    --bs-flex-basis: 150px;
}

.basis-200px {
    --bs-flex-basis: 200px;
}

@media (min-width: 576px) {
    .basis-sm-auto {
        --bs-flex-basis: auto;
    }

    .basis-sm-100px {
        --bs-flex-basis: 100px;
    }

    .basis-sm-120px {
        --bs-flex-basis: 120px;
    }

    .basis-sm-150px {
        --bs-flex-basis: 150px;
    }

    .basis-sm-200px {
        --bs-flex-basis: 200px;
    }

    .rounded-sm {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-sm-0 {
        border-radius: 0 !important;
    }

    .rounded-sm-1 {
        border-radius: var(--bs-border-radius-sm) !important;
    }

    .rounded-sm-2 {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-sm-3 {
        border-radius: var(--bs-border-radius-lg) !important;
    }

    .rounded-sm-4 {
        border-radius: var(--bs-border-radius-xl) !important;
    }

    .rounded-sm-5 {
        border-radius: var(--bs-border-radius-2xl) !important;
    }

    .rounded-sm-circle {
        border-radius: 50% !important;
    }

    .rounded-sm-pill {
        border-radius: var(--bs-border-radius-pill) !important;
    }

    .rounded-sm-top {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-top-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-sm-end {
        border-top-right-radius: var(--bs-border-radius) !important;
        border-bottom-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-sm-bottom {
        border-bottom-right-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }

    .rounded-sm-start {
        border-bottom-left-radius: var(--bs-border-radius) !important;
        border-top-left-radius: var(--bs-border-radius) !important;
    }
}

@media (min-width: 768px) {
    .basis-md-auto {
        --bs-flex-basis: auto;
    }

    .basis-md-100px {
        --bs-flex-basis: 100px;
    }

    .basis-md-120px {
        --bs-flex-basis: 120px;
    }

    .basis-md-150px {
        --bs-flex-basis: 150px;
    }

    .basis-md-200px {
        --bs-flex-basis: 200px;
    }

    .rounded-md {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-md-0 {
        border-radius: 0 !important;
    }

    .rounded-md-1 {
        border-radius: var(--bs-border-radius-sm) !important;
    }

    .rounded-md-2 {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-md-3 {
        border-radius: var(--bs-border-radius-lg) !important;
    }

    .rounded-md-4 {
        border-radius: var(--bs-border-radius-xl) !important;
    }

    .rounded-md-5 {
        border-radius: var(--bs-border-radius-2xl) !important;
    }

    .rounded-md-circle {
        border-radius: 50% !important;
    }

    .rounded-md-pill {
        border-radius: var(--bs-border-radius-pill) !important;
    }

    .rounded-md-top {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-top-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-md-end {
        border-top-right-radius: var(--bs-border-radius) !important;
        border-bottom-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-md-bottom {
        border-bottom-right-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }

    .rounded-md-start {
        border-bottom-left-radius: var(--bs-border-radius) !important;
        border-top-left-radius: var(--bs-border-radius) !important;
    }
}

@media (min-width: 992px) {
    .basis-lg-auto {
        --bs-flex-basis: auto;
    }

    .basis-lg-100px {
        --bs-flex-basis: 100px;
    }

    .basis-lg-120px {
        --bs-flex-basis: 120px;
    }

    .basis-lg-150px {
        --bs-flex-basis: 150px;
    }

    .basis-lg-200px {
        --bs-flex-basis: 200px;
    }

    .rounded-lg {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-lg-0 {
        border-radius: 0 !important;
    }

    .rounded-lg-1 {
        border-radius: var(--bs-border-radius-sm) !important;
    }

    .rounded-lg-2 {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-lg-3 {
        border-radius: var(--bs-border-radius-lg) !important;
    }

    .rounded-lg-4 {
        border-radius: var(--bs-border-radius-xl) !important;
    }

    .rounded-lg-5 {
        border-radius: var(--bs-border-radius-2xl) !important;
    }

    .rounded-lg-circle {
        border-radius: 50% !important;
    }

    .rounded-lg-pill {
        border-radius: var(--bs-border-radius-pill) !important;
    }

    .rounded-lg-top {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-top-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-lg-end {
        border-top-right-radius: var(--bs-border-radius) !important;
        border-bottom-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-lg-bottom {
        border-bottom-right-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }

    .rounded-lg-start {
        border-bottom-left-radius: var(--bs-border-radius) !important;
        border-top-left-radius: var(--bs-border-radius) !important;
    }
}

@media (min-width: 1200px) {
    .basis-xl-auto {
        --bs-flex-basis: auto;
    }

    .basis-xl-100px {
        --bs-flex-basis: 100px;
    }

    .basis-xl-120px {
        --bs-flex-basis: 120px;
    }

    .basis-xl-150px {
        --bs-flex-basis: 150px;
    }

    .basis-xl-200px {
        --bs-flex-basis: 200px;
    }

    .rounded-xl {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-xl-0 {
        border-radius: 0 !important;
    }

    .rounded-xl-1 {
        border-radius: var(--bs-border-radius-sm) !important;
    }

    .rounded-xl-2 {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-xl-3 {
        border-radius: var(--bs-border-radius-lg) !important;
    }

    .rounded-xl-4 {
        border-radius: var(--bs-border-radius-xl) !important;
    }

    .rounded-xl-5 {
        border-radius: var(--bs-border-radius-2xl) !important;
    }

    .rounded-xl-circle {
        border-radius: 50% !important;
    }

    .rounded-xl-pill {
        border-radius: var(--bs-border-radius-pill) !important;
    }

    .rounded-xl-top {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-top-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-xl-end {
        border-top-right-radius: var(--bs-border-radius) !important;
        border-bottom-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-xl-bottom {
        border-bottom-right-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }

    .rounded-xl-start {
        border-bottom-left-radius: var(--bs-border-radius) !important;
        border-top-left-radius: var(--bs-border-radius) !important;
    }
}

@media (min-width: 1400px) {
    .basis-xxl-auto {
        --bs-flex-basis: auto;
    }

    .basis-xxl-100px {
        --bs-flex-basis: 100px;
    }

    .basis-xxl-120px {
        --bs-flex-basis: 120px;
    }

    .basis-xxl-150px {
        --bs-flex-basis: 150px;
    }

    .basis-xxl-200px {
        --bs-flex-basis: 200px;
    }

    .rounded-xxl {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-xxl-0 {
        border-radius: 0 !important;
    }

    .rounded-xxl-1 {
        border-radius: var(--bs-border-radius-sm) !important;
    }

    .rounded-xxl-2 {
        border-radius: var(--bs-border-radius) !important;
    }

    .rounded-xxl-3 {
        border-radius: var(--bs-border-radius-lg) !important;
    }

    .rounded-xxl-4 {
        border-radius: var(--bs-border-radius-xl) !important;
    }

    .rounded-xxl-5 {
        border-radius: var(--bs-border-radius-2xl) !important;
    }

    .rounded-xxl-circle {
        border-radius: 50% !important;
    }

    .rounded-xxl-pill {
        border-radius: var(--bs-border-radius-pill) !important;
    }

    .rounded-xxl-top {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-top-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-xxl-end {
        border-top-right-radius: var(--bs-border-radius) !important;
        border-bottom-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-xxl-bottom {
        border-bottom-right-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }

    .rounded-xxl-start {
        border-bottom-left-radius: var(--bs-border-radius) !important;
        border-top-left-radius: var(--bs-border-radius) !important;
    }
}

.dropdown-menu.custom-dropdown {
    display: block !important;
    transition: max-height 0.25s ease, opacity 0.25s ease, padding 0.15s ease, font-size 0.15s ease;
}
.dropdown-menu.custom-dropdown:not(.show) {
    --bs-dropdown-padding-y: 0;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    font-size: 0.1rem;
}
.dropdown-menu.custom-dropdown.show {
    opacity: 1;
    overflow-y: auto;
    max-height: 75vh;
    font-size: 1rem;
}
.dropdown-menu.custom-dropdown.dropdown-menu-end {
    right: 0;
    left: auto;
}

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.hover-shadow {
    transition: all 0.35s;
}

.hover-shadow:hover {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.175) !important;
}

.required {
    position: relative;
}

.required::after {
    content: "*";
    line-height: 1;
    display: inline-block;
    margin-left: 0.125rem;
    margin-top: -1px;
    color: var(--required-color, var(--bs-red));
}

.select2-custom+.select2.select2-container {
    width: 100% !important;
}

.select2-selection__arrow {
    height: calc(100% - 2px) !important;
}

.select2-container .select2-selection--single {
    height: unset !important;
}

.form-select+.select2-container .select2-selection--single {
    padding: 0.25rem 0.5rem !important;
}

/* .select2-search__field {
    background-color: rgba(0, 0, 0, 0.05) !important;
} */

.select2-container .select2-selection .select2-selection__rendered .select2-selection__clear {
    font-size: 20px;
    color: var(--bs-danger);
}

.select2-container.select2-container--focus .select2-selection {
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
}

.select2-container.select2-container--focus.select2-container--open.select2-container--above .select2-selection {
    border: 1px solid #80bdff;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.select2-container.select2-container--focus.select2-container--open.select2-container--below .select2-selection {
    border: 1px solid #80bdff;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.select2-container .select2-results .select2-results__options {
    max-height: 50vh;
    overflow-y: auto;
}

.select2-container .select2-results .select2-results__options .select2-results__option[aria-selected="true"] {
    color: #212529;
    background-color: rgba(23, 162, 184, 0.2);
}

.select2-30 .select2-container .select2-results .select2-results__options {
    max-height: 30vh;
}

.select2-35 .select2-container .select2-results .select2-results__options {
    max-height: 35vh;
}

.select2-40 .select2-container .select2-results .select2-results__options {
    max-height: 40vh;
}

.select2-45 .select2-container .select2-results .select2-results__options {
    max-height: 45vh;
}

.image-zoom {
    text-decoration: none !important;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.image-zoom.zoom {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
}

img.image-zoom,
.image-zoom>img {
    width: auto;
    min-width: 50%;
    max-width: 100%;
    height: auto;
}

img.image-zoom.zoom,
.image-zoom.zoom>img {
    width: 100%;
}

.fs-auto,
.fs-auto .form-control,
.fs-auto .form-select {
    font-size: 0.85rem;
}

.small.fs-auto,
.small .fs-auto,
.fs-auto .small {
    font-size: 0.775rem;
}

@media (min-width: 576px) {

    .fs-auto,
    .fs-auto .form-control,
    .fs-auto .form-select {
        font-size: 0.9rem;
    }

    .small.fs-auto,
    .small .fs-auto,
    .fs-auto .small {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {

    .fs-auto,
    .fs-auto .form-control,
    .fs-auto .form-select {
        font-size: 0.95rem;
    }

    .small.fs-auto,
    .small .fs-auto,
    .fs-auto .small {
        font-size: 0.825rem !important;
    }
}

@media (min-width: 992px) {

    .fs-auto,
    .fs-auto .form-control,
    .fs-auto .form-select {
        font-size: 1rem;
    }

    .small.fs-auto,
    .small .fs-auto,
    .fs-auto .small {
        font-size: 0.875rem !important;
    }
}

.datepicker.datepicker-dropdown {
    z-index: 5000 !important;
}
.datepicker.datepicker-dropdown .disabled {
    color: var(--bs-danger);
}

.alert pre.sf-dump {
    z-index: 1 !important;
}

.modal-footer .btn > [class^="fa-"] {
    margin-right: 0.25rem !important;
}

.gutter-content-x > :not(:first-child) {
    margin-left: var(--bs-gutter-x, 0);
}

.gutter-content-x > :not(:last-child) {
    margin-right: var(--bs-gutter-x, 0);
}

.dual-button {
    position: relative;
}

.dual-button > .btn {
    width: 50% !important;
    z-index: 0;
}

.dual-button > .dual-separator {
    position: absolute;
    background-color: var(--bs-white);
    border-radius: 50%;
    font-size: 0.65rem;
    padding: 4px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.ui-datepicker .ui-datepicker-title > :not(:last-child) {
    margin-right: 0.125rem;
}