table.table-nowrap > thead th,
table.table-nowrap > thead td,
table.table-nowrap > tbody th,
table.table-nowrap > tbody td,
table.table-nowrap > tfoot th,
table.table-nowrap > tfoot td {
    white-space: nowrap;
}

table.dataTable > tbody > tr.selected {
    background-color: rgba(var(--bs-primary-rgb), 0.15);
}

table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-collapse: collapse !important;
    min-width: 100%;
}

table.table > :not(:first-child):not(caption),
table.dataTable > :not(:first-child):not(caption) {
    border-top-width: 1px;
}

table.dataTable .sorting::before,
table.dataTable .sorting::after {
    top: calc(50% - 0.75rem) !important;
}

table.dataTable.table-sm > thead > tr > th:not(.sorting_disabled) {
    padding-right: 25px;
}

table.dataTable table,
table.dataTable .table {
    margin-bottom: 0;
}

.table-responsive > table.dataTable {
    margin-bottom: 0.5rem !important;
}

div.dataTables_wrapper {
    position: relative;
}
div.dataTables_wrapper div.dataTables_filter label {
    max-width: 100%;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
}

div.dataTables_wrapper div.dataTables_processing {
    margin: 0;
    width: unset;
    height: unset;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: rgba(var(--bs-white-rgb), 0.5);
    z-index: 1;
}

div.dataTables_wrapper div.dataTables_processing > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

div.datatable-paging-info div.dataTables_info {
    padding: 0 !important;
}

div.datatable-paging-info .pagination {
    --bs-pagination-font-size: 0.875rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-focus-box-shadow: 0 0 0 0.125rem rgba(13, 110, 253, 0.25);
}